*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header.header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    & a{
        color: #fff;
        text-decoration: none;
        padding: 2rem;
        justify-content: center;
    }
}
section.references{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: url(../img/415f0e0e-6fed-4c30-a2ab-2a6141b98ce4.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    & h1{
        margin: 1rem;
        font-size:5rem;
        color: white;
        text-shadow: 4px 4px 9px rgba(0,0,0,0.6);
    }
    & div{
        margin: 1rem;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 2px 2px 5px #fffcfc;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1rem;
        & h2{
            font-size: 3rem;
            margin: 1rem;
            transition: 1s;
            &:hover{
                color: violet;
                transform: scale(1.2);
            }
        }
        & i{
            color: white;
            font-size: 6rem;
            padding: 1.5rem;
            transition: 1s;
            &:hover{
                transform: rotateY(360deg);
                color: violet;
            }
        }
}
}