*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100dvh;
    padding: 0 1%;
    width: 10dvh;
    background-color: red;
    & h1{
        font-size: 1.3rem;
        color: white;;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    & a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    & button bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    & .dropdown button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    & .dropdown a{
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    & .dropdown .content{
        background-color: orangered;
        display: none;
        min-width: 100px;
        transition: 4s;
    }
    & .dropdown:hover .content{
        display: block;
    }
}